 *{
    margin:0;
    padding:0;
}
/* .header{
    text-align:right;  
}
.header .logo{
    color:turquoise;
    float:left;
    margin-left:4em;
    font-style: italic;
    font-weight:800;
    margin-top:10px;
}
.header nav{
    background-color:black;
    line-height:70px;
    font-size:20px;
} */
Nav a{
    color:yellow;
    text-decoration:none;
    padding: 5px;
    margin-left:15px;
   
} 

.btn-login{
    margin-left: 32px;
    border-radius: 5px;
    background-color: tomato;
    padding:5px 10px;
    color:white;
}
.login-header{
    /* 
    
    text-decoration: none;
  
    padding: 10px 25px;
    color: white;
    border-radius: 20px;
    font-size:20px; */
    

   
}
Nav a:hover{
   color:white;
   text-decoration: underline;
}